@model IEnumerable<Inventory_Management_System.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Stock</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Stock manager"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            @if (User.IsInRole("Administrator") || User.IsInRole("Stock manager"))
            {
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a class="btn btn-outline-primary" asp-controller="Stocks" asp-action="Analytics" asp-route-id="@item.ProductId">Analytics</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                 </td>
            }
            @if (User.IsInRole("User"))
            {
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
