@model IEnumerable<Inventory_Management_System.Models.Stock>

@{
    ViewData["Title"] = "Analytics";
}

<h1>Analytics</h1>
@if (Model.Any())
{
    <h2>@Model.FirstOrDefault().Product.Naam</h2>
}

<div class="col-md-8 mx-auto mb-3">
    <canvas id="myChart"></canvas>
</div>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoeveelheid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoeveelheid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.StockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    Chart.defaults.color = '#ffffff';


    const ctx = document.getElementById('myChart');
    let labels = [];
    let data = [];
    @foreach (var item in Model.Take(10))
    {
        @: labels.push(`@item.Datum.ToString("dd-MM-yyyy")`)
        @: data.push(@item.Hoeveelheid)
    }

    labels.reverse()
    data.reverse();

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Hoeveelheid',
                data: data,
                borderWidth: 1.5,
                pointHitRadius: 15
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>