@model IEnumerable<Inventory_Management_System.Models.Stock>

@{
    ViewData["Title"] = "Analytics";
}

<h1>Analytics</h1>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoeveelheid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoeveelheid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.StockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
